name: CI

on:
  push:
    branches:
      - main
      - v2
  pull_request:
    branches:
      - main
      - v2
  workflow_dispatch:

jobs:
  build-jsoo:
    strategy:
      fail-fast: false
      matrix:
        ocaml-compiler:
          - "4.08"
          - "4.12"
          - "4.14"
          - "5.0"
          - "5.1"

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set-up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 6.0.x

      - name: Set-up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: yarn

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true

      - name: Install .NET Dependencies
        run: |
          dotnet restore ts2ocaml.sln
          dotnet tool restore

      - name: Install OCaml Dependencies
        run: opam install . --deps-only

      - name: Build and test the project
        run: bash fake TestJsoo

  build-res:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set-up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 6.0.x

      - name: Set-up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: yarn

      - name: Install .NET Dependencies
        run: |
          dotnet restore
          dotnet tool restore

      - name: Run FAKE
        run: bash fake TestRes

  auto-merge:
    name: Auto-Merge PRs by Dependabot
    needs:
      - build-jsoo
      - build-res
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          target: minor
          exclude: "typescript"
          merge-method: merge
