name: Publish

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set-up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Set-up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "5.1"
          dune-cache: true
          allow-prerelease-opam: true

      - name: Install .NET Dependencies
        run: |
          dotnet restore ts2ocaml.sln
          dotnet tool restore

      - name: Install OCaml Dependencies
        run: opam install . --deps-only

      - name: Build & test & publish the project
        run: bash fake all

      - name: Push js_of_ocaml standard library to jsoo-stdlib
        if: success()
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: jsoo-stdlib
          FOLDER: dist/jsoo
          TAG: jsoo-stdlib-${{ github.event.release.tag_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Build ({sha}) {msg}"

      - name: NPM Publish as "latest"
        if: success() && !github.event.release.prerelease
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          check-version: true

      - name: NPM Publish as "beta"
        if: success() && github.event.release.prerelease
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          check-version: true
          tag: "beta"
